<div class="business-main-header">
	<span class="logo"></span>
</div>
<div class="business-btn">
	<a href="{{if isEnglish "http://partners.onepercentclub.com/en/mvo" "http://partners.onepercentclub.com/mvo"}}" class="btn btn-third">{{t "1%Club for companies"}}</a>
	<a href="{{if isEnglish "http://partners.onepercentclub.com/en/civic" "http://partners.onepercentclub.com/civic"}}" class="btn btn-third">{{t "1%Club for municipalities"}}</a>
</div>