<div class="l-section" id="featured-on">
    <section class="l-wrapper">
        <div class="row">
            <div class="col12">
                {{yield}}
            </div>
        </div>
    </section>
</div>
