<article id="search-navigation">
    <div class="search-pagination">
        {{#load-more-comp loadData=isLoading}}
            <a {{action 'focusSearch'}} class="btn btn-sec">Show 8 more</a>
        {{/load-more-comp}}
    </div>
</article>
